body{font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:12px; color:#666;width:expression(document.body.clientWidth <= 1200? "1200px": "auto"); min-width:1200px;}
a{ text-decoration:none; transition:all 0.3s}
a:hover{ text-decoration:none;}
.wrap{ width:1200px; margin:0 auto;}
.lan{ color:#2888c2}
.bgfa{ background:#fafafa;}

.header{ width:1200px; margin:0 auto; padding:28px 0}
.logo{ background:url(../image/111111_themes_boenew_img_icon55.png) no-repeat left center; display:inline-block; line-height:40px;}
a.gw{ display:inline-block; width:76px; margin-right:54px; height:42px; vertical-align:middle}
a.gwr{ display:inline-block; width:105px; height:40px; vertical-align:middle; line-height:40px;  font-weight:bold; color:#2888c2; font-size:24px;}

.headerr{ float:right; text-align:left; position:relative}
.headerr a{ display:inline-block; line-height:40px; margin:0 20px; font-size:12px; color:#333;}
.headerr a:hover{ color:#2888c2}
.headerr span{ display:inline-block; width:1px; height:60px; position:absolute; left:0; top:-30px; background:#c1c1c1;}
.navbg{ background:#f1f2f2; padding:20px 0}
.nav{ text-align:center; height:40px; width:1200px; margin:0 auto}
.nav a{ display:inline-block; line-height:40px; color:#333; font-size:18px; margin:0 40px;}
.nav a:hover,.nav a.now{ color:#2888c2}
.xcbox{ padding:50px 0; width:1200px; margin:0 auto}
.xcl{ float:left; width:680px; position:relative; height:370px;  overflow: hidden;}
#bx-pager{ position:absolute; right:5px; bottom:5px;}
.bx-pagerm{  float:right; height:62px;}
.bx-pagerm a{ border:2px solid rgba(255,255,255,0.5); display:block; width:58px; height:58px; float:left}
.bx-pagerm a img{ width:58px; height:58px; opacity:0.5; vertical-align:top}
.bx-pagerm a.active{border:2px solid #f39800;}
.bx-pagerm a.active img{ opacity:1;  }	
.xcr{ float:right; width:490px; border-radius:10px; height:370px; background:#fff;box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.xcrt{ background:url(../image/111111_themes_boenew_img_syicon1.png) no-repeat center center; padding:19px; height:30px;}
.icon1{ background:url(../image/111111_themes_boenew_img_icon1.png) no-repeat left center; padding-left:50px; color:#fff; line-height:30px; font-size:20px; font-weight: 800}
.xcrtr{ float:right; width:178px; position:relative; height:30px;}
.icon2a{ background:url(../image/111111_themes_boenew_img_icon2a.png) no-repeat center center; display:inline-block; width:20px; height:20px; cursor:pointer; position:absolute; left:0; top:5px;}
.icon2b{ background:url(../image/111111_themes_boenew_img_icon2b.png) no-repeat center center; display:inline-block; width:20px; height:20px; cursor:pointer; position:absolute; right:0; top:5px;}
.xcrtrm{ background:rgba(93,167,223,0.7); height:30px; width:110px; margin:0 auto; border-radius:10px; overflow:hidden; position:relative}
.xcrtrm  ul{ position:absolute; left:0; top:0; width:600px; height:30px;}
.xcrtrm li{ display:none; float:left; width:110px; height:30px; line-height:30px; text-align:center; color:#fff; font-weight:bold; font-size:14px;}
.xcrtrm li.now{display:block}
.xcrb{ background:#fff; padding:15px 10px 5px}
.xcrbm{ display:none}
.xcrb th span{ font-weight:normal; border:1px solid #2888c2; color:#2888c2; border-radius:50%; display:inline-block; width:40px; height:40px; line-height:38px; text-align:center; box-sizing:border-box; font-size:15px; font-weight:bold}
.xcrb th span.mo{ color:#fff; background:url(../image/111111_themes_boenew_img_syicon2.png) no-repeat center center}
.xcrb td{ padding:5px 0 10px; position:relative; line-height:24px; font-size:18px; color:#333;}
.xcrb td img{ position:absolute; left:50%; margin-left:-9px; top:28px;}
.xcap{ }
.tcbg{ background:#000; opacity:0.3; width:100%; height:100%; position:fixed; left:0; top:0; z-index:1000; display:none}
.tcbox,.tcbox3{ background:#fff; border-radius:10px; width:1200px; position:fixed; left:50%; margin-left:-600px; height:600px; top:50%; margin-top:-300px; z-index:1001; overflow:hidden; display:none}
.icon4{ background:url(../image/111111_themes_boenew_img_icon4.png) no-repeat 30px 80px #ffd800; display:inline-block; width:125px; height:125px; border-radius:50%; position:absolute; right:-60px; top:-65px; cursor:pointer}
.tcxc{ padding:30px; display:none}
.tcxct{ width:560px; height:50px; border-radius:25px; border:1px solid #338ed4; margin:0 auto}
.tcxct li{ float:left; width:50%; text-align:center; height:50px; cursor:pointer}
.tcxct li span{ display:inline-block; line-height:50px; color:#338ed4; font-size:18px; padding-left:35px;}
.tcxct li.now{ background:url(../image/111111_themes_boenew_img_syicon8.png) no-repeat center center; border-radius:25px;}
.tcxct li.now span{ color:#fff;}
.icon5{ background:url(../image/111111_themes_boenew_img_syicon11.png) no-repeat left center}
.tcxct li.now .icon5{background:url(../image/111111_themes_boenew_img_icon5b.png) no-repeat left center}
.icon6{ background:url(../image/111111_themes_boenew_img_syicon12.png) no-repeat left center}
.tcxct li.now .icon6{background:url(../image/111111_themes_boenew_img_icon6b.png) no-repeat left center}
.tcxcb{ border:1px solid #5da7df; height:456px; border-radius:10px; overflow:hidden}
.tcxcbm{ display:none}
.rql{ float:left; width:455px; background:url(../image/111111_themes_boenew_img_syicon9.png) no-repeat center center; padding:15px 0 0; height:456px; box-sizing:border-box}
.rqlt{ width:300px; margin:0 auto; position:relative; height:50px;}
.icon7a{ background:url(../image/111111_themes_boenew_img_syicon13.png) no-repeat center center; display:inline-block; width:34px; height:34px; cursor:pointer; position:absolute; left:0; top:8px;}
.icon7b{ background:url(../image/111111_themes_boenew_img_syicon14.png) no-repeat center center; display:inline-block; width:34px; height:34px; cursor:pointer; position:absolute; right:0; top:8px;}
.rqltm{ background:url(../image/111111_themes_boenew_img_syicon15.png) no-repeat center center; height:50px; width:190px; margin:0 auto; border-radius:15px; overflow:hidden; position:relative}
.rqltm  ul{ position:absolute; left:0; top:0; width:800px; height:50px;}
.rqltm li{ display:none; float:left; width:190px; height:50px; line-height:50px; text-align:center; color:#fff; font-weight:bold; font-size:22px;}
.rqltm li.now{display:block}
.rqlb{ padding:20px 0 0}
.rqlbm{ display:none}
.rqlb th{ padding-bottom:5px}
.rqlb th span{ font-weight:normal; border:1px solid #fff; color:#fff; border-radius:50%; display:inline-block; width:48px; height:48px; line-height:46px; text-align:center; box-sizing:border-box; font-size:18px; font-weight:bold}
.rqlb th span.mo{ color:#338ed4; background:#fff}
.rqlb td{ padding:15px 0 15px; position:relative; line-height:24px; font-size:18px; color:#333;}
.rqlb td .icon3{ position:absolute; left:50%; margin-left:-9px; top:35px; background:url(../image/111111_themes_boenew_img_syicon16.png) no-repeat center center; display:inline-block; width:17px; height:16px}
.rqlb td.now{ background:#ffd800; border-radius:10px}
.rqlb td.now .icon3{background:url(../image/111111_themes_boenew_img_syicon17.png) no-repeat center center;}
.xcnr{ float:right; width:683px; position:relative; height:456px;}
.xcnrt{ padding:10px 10px 10px 20px}
.xcnrtbox{height:390px; overflow:auto}
.xcnrtm{ display:none}
.xcnrt ul{ }
.xcnrt li{ border-bottom:1px dashed #5da7df; padding:10px 0 8px; box-sizing:border-box}
.xcnrt li span{ display:inline-block; line-height:30px; width:180px; color:#333; font-size:16px;    vertical-align: top;}
.xcnrt li span.w400{width:400px}
.xcnrt li p{ margin-bottom:3px}
.icon8{ background:url(../image/111111_themes_boenew_img_syicon18.png) no-repeat left center; padding-left:45px;}
.icon9{ background:url(../image/111111_themes_boenew_img_syicon19.png) no-repeat 2px 10px; padding-left:45px;}
.xcnrb{ position:absolute; left:0; bottom:0; background:#d6edff; text-align:center; color:#338ed4; font-size:14px; height:40px; line-height:40px; width:100%}
.csl{ float:left; background:#eff8ff; padding:5px 0 0 10px; box-sizing:border-box; border-right:1px solid #80c1f2; width:455px; height:456px;}
.csl li{}
.csl li h2{ display:inline-block; color:#fff; width:120px; text-align:center; height:28px; border-radius:15px; line-height:30px; font-size:14px;}
.cslb{ padding:8px 0}
.cslb a{ display:inline-block; padding:0 12px; line-height:20px; border-radius:10px; color:#333; font-size:14px; margin:0 5px;}
.cslb a:hover,.cslb a.now{ background:#ffd800; color:#247aae}
.xcap2{ cursor:pointer}
.xzbg{ background:#f1f9ff; padding:55px 0 90px;}
.zwss{ width:930px; margin:55px auto 45px; height:56px; border-radius:28px; background:#fff; overflow:hidden}
.zwss_input{ float:left; border:none; height:36px; line-height:36px;font-family:"\5FAE\8F6F\96C5\9ED1"; color:#999; font-size:14px;  width:780px; padding:10px 0 10px 35px;}
.zwss_btn{ float:right; border:none; background:url(../image/111111_themes_boenew_img_syicon3.png) no-repeat center center; cursor:pointer; height:56px; border-radius:28px; width:110px;}
.zwt{ border-radius:10px; background:#fff; overflow:hidden}
.zwtl{ width:210px; float:left; height:80px; text-align:center; line-height:80px; color:#fff; font-size:16px;}
.zwqb{ float:left; width:85px; padding:15px 0; height:50px; text-align:center}
.zwqb a{ background:url(../image/111111_themes_boenew_img_icon11.png) no-repeat left center; display:inline-block; line-height:25px; color:#333; font-size:14px; padding-left:20px;}
.zwqb2{ float:left; width:85px; padding:15px 0; height:50px; text-align:center; background:#f3f3f3;}
.zwqb2 a{ background:url(../image/111111_themes_boenew_img_icon11.png) no-repeat left center; display:inline-block; line-height:50px; color:#333; font-size:14px; padding-left:20px;}
.zwtr{ float:left; width:865px; padding:15px 0 15px 40px}
.zwtr a{ display:inline-block; line-height:50px; color:#333; font-size:14px; margin:0 5px;padding:0 10px;}
.zwtr a.now{background: #1497bd;    color: #fff;}
.zwtr2{ float:left; width:865px; padding:15px 0 15px 40px; background:#f3f3f3;}
.zwtr2 a{ display:inline-block; line-height:25px; color:#333; font-size:14px; margin:0 10px; padding:0 10px;}
.zwtr2 a.now{    background: #45a6e0;    color: #fff;}

.zwlb{ background:#fff; border-radius:10px; padding:10px 20px 35px; position:relative}
.zwlb ul{ }
.zwlb li{ float:left; width:33.33%; border-bottom:1px dashed #ccc; padding:10px 0 10px 35px; height:50px; line-height:30px;box-sizing:border-box;position: relative;}
.zwlb li img{ vertical-align: top;margin-left: 5px;margin-top: -5px;}
.zwlb li a{ color:#333; line-height:30px; display:inline-block; font-size:14px;}
.zwlb li span{ float:right; display:inline-block; line-height:30px; font-size:14px;}
.zwlbline{ width:1px; height:489px; position:absolute; left:50%; top:20px; display:inline-block; background:#dbdbdb}
.page{ text-align:center}
.page a{ display:inline-block; background:#fff; border:1px solid #60656e; border-radius:50%; color:#5d616a; font-size:14px; width:34px; height:34px; line-height:34px; text-align:center; margin:0 7px;}
.page a:hover,.page a.now{ color:#fff; background:url(../image/111111_themes_boenew_img_syicon5.png) no-repeat center center; border:1px solid #2888c2}
.page a.next{ border:1px solid #2888c2; color:#2888c2; width:80px; margin:0 15px; border-radius:17px;}
.page a.next:hover{ color:#fff;background:#2888c2}
.qabg{ background:#fafafa; padding:50px 0 40px}
.title{ display:inline-block; color:#fff; width:200px; height:60px; text-align:center; line-height:60px; border-radius:30px; font-size:18px; }
.syicon6{background:url(../image/111111_themes_boenew_img_syicon6.png) no-repeat center center;}
.syicon7{background:url(../image/111111_themes_boenew_img_syicon7.png) no-repeat center center;}
.qa{ padding:50px 0 0}
.qa li{ margin-bottom:20px; background:#fff; height:60px; box-shadow:0 0 10px rgba(0,0,0,0.1); cursor:pointer; border-radius:30px; padding:0 40px; line-height:60px; color:#2888c2; font-size:16px;}
.tcbox2{  border-radius:10px; width:800px; position:fixed; left:50%; margin-left:-400px; height:600px; top:50%; margin-top:-300px; z-index:1001; overflow:hidden; display:none }
.box2m{ width:800px; height:600px; display:table-cell; vertical-align:middle}
.tcqa{ background:#fff; border-radius:10px; position:relative; overflow:hidden; padding:15px 40px;}
.tcqa li{ display:none}
.tcqa h2{ line-height:40px; margin-bottom:15px; padding-left:20px;color:#2888c2; font-size:16px;}
.tcqab{ background:#80c1f2; color:#fff; padding:15px 20px; line-height:30px; font-size:16px;max-height: 515px;    box-sizing: border-box;    overflow: auto;}
.footer{ background:#5d616a; padding:20px 0;}
.footerm{ width:1200px; margin:0 auto; position:relative}
.footerl{ float:left; width:720px;}
.footerl li{ float:left; width:180px;}
.footerl li h2{ line-height:30px; color:#dbdbdb; font-size:16px; margin-bottom:5px;}
.footerl li a{ display:block; line-height:25px; color:#a9a9a9; font-size:14px;}
.footerb{ position:absolute; line-height:25px; right:20px; bottom:0; color:#9ba3b4; font-size:12px; text-align:right}
.float{ position:fixed; right:10px; bottom:50px; z-index:900}
.float li{ width:56px; height:56px; background:#b6b6b6; margin-bottom:10px; cursor:pointer;    padding: 0;}
.icon15a{ display:inline-block; background:url(../image/111111_themes_boenew_img_icon15a.png) no-repeat center center; width:56px; height:56px; position:relative}
.icon15b{ display:inline-block; background:url(../image/111111_themes_boenew_img_icon16o.png) no-repeat center center; width:56px; height:56px;}
.icon15c{ display:inline-block; background:url(../image/111111_themes_boenew_img_icon15c.png) no-repeat center center; width:56px; height:56px;}
.hddbtxt,.wttxt,.wxtxt{ display:none; width:56px; padding:10px 0; line-height:18px; height:36px; color:#fff; font-size:14px; text-align:center}
.hddb:hover .hddbtxt{ display:block}
.hddb:hover .icon15a{ display:none}
.wtfk:hover .wttxt{ display:block}
.wtfk:hover .icon15b{ display:none}
.gzwx:hover .wxtxt{ display:block}
.gzwx:hover .icon15c{ display:none}
.gzwx img,.wtfk img{ position:absolute; right:66px; bottom:0; display:none}
.gzwx:hover img{ display:block}
.wtfk:hover  img{ display:block}


.zwxq{ padding:25px 40px}
.zwxqt{ border-bottom:1px solid #fc9206; font-weight:bold; text-align:center; padding-bottom:20px; line-height:30px; color:#247aae; font-size:18px;}
.zwxqtb{ background:#d6edff; padding:0 20px; height:40px; margin:10px 0 20px;}
.zwxqtb li{ float:left; width:25%; text-align:left; color:#247aae; font-size:14px; line-height:40px}
.zwxqtb li.last{ text-align:right}
.zwxqm{ height:300px; overflow:auto; padding-right:45px; color:#666; font-size:14px; line-height:30px; margin-bottom:20px}
.zwxqbl{ float:left; background:#d6edff; padding:10px 15px; line-height:30px; width:750px; margin-right:115px;}
.zwxqbl li{ background:url(../image/111111_themes_boenew_img_icon16.png) no-repeat left center; line-height:30px; padding-left:10px; font-size:12px; color:#666;}
a.ljsq{ display:inline-block; color:#fff; width:120px; height:40px; border-radius:20px; font-size:14px; background:#2888c2; margin:35px 0 0; float:left; line-height:40px; text-align:center}
.zwxqtc{ display:none}

.tcwd{ padding:30px; height:540px; overflow:auto; display:none }
.tcwdm{ width:560px; margin:0 auto}
.tcwd p{ text-align:left; color:#333; font-size:16px; line-height:30px;}

.xcrtrr{ display:inline-block; color:#fff600;font-size:16px; line-height:27px; border-bottom: 1px solid #d8d945; margin-left:25px; float:right}
.hot{ display:inline-block; width:30px; height:23px; background:url(../image/111111_themes_boenew_img_hot2.png) no-repeat center center; position: absolute;
    left: 0;    top: 12px;}
.long{ display:inline-block; width:30px; height:23px; background:url(../image/111111_themes_boenew_img_long2.png) no-repeat center center;position: absolute;
    left: 0;    top: 12px;}
/**20180530**/	
.sxsbanner{}
.sxsbanner img{ max-width:100%; vertical-align:top}
.sxs{ background:#f1f9ff; padding:60px 0}
.sxsbox{ background:#fff; border-radius:15px; margin:0 auto; width:1200px; padding:0 25px; box-sizing:border-box}
.sxst{ text-align:center; padding:40px 0 35px; line-height:25px; color:#333;}
.sxst p{ font-size:16px}
.sqsxs{ border-bottom:1px dashed #ccc;}
.sqsxs li{ float:left; width:50%}
.sqsxs li h2{ line-height:50px; color:#fff; text-align:center; font-size:18px; background:#45a6e0}
.sqsxs li:nth-child(2) h2{ background:#1497bd}
.sqsxs li .sqsxsb{ padding:25px 25px 0 0; height:270px; box-sizing:border-box; color:#333; font-size:16px; line-height:25px; border-right:1px dashed #ccc;}
.sqsxs li:nth-child(2) .sqsxsb{ padding:25px 5px 0 25px; border:none}
.sqsxsbb{ text-align:center; line-height:50px; color:#666; font-size:14px;}
.sxjl{ background:#f1f9ff; padding:25px 0; text-align:center; border-radius:75px}
.sxjl img{ vertical-align:top; display:inline-block; margin:0 50px;}
.sxjlb{ padding:25px 0 60px}
.sxjlb li{ float:left; width:50%;background:url(../image/111111_themes_boenew_img_sxsicon1.png) no-repeat left center; padding-left:15px; box-sizing:border-box; line-height:25px; color:#2888c2; font-size:16px;}
.sxjlb li:nth-child(2n){ background:url(../image/111111_themes_boenew_img_sxsicon1.png) no-repeat 30px center; padding-left:45px}
.bmsq{ background:#fbfbfb; padding:60px 0}
.zwlxr{ float:left; width:865px; height:80px; padding-left:40px;}
.zwlxrm{ display:table-cell; vertical-align:middle; width:865px; height:80px;}
.zwlxrm1 a,.zwlxrm2 a,.zwlxrm3 a{ display:inline-block; line-height:25px; color:#333; font-size:14px; margin:0 10px;padding:0 10px;}
.zwlxrm1 a.now{background: #3cb99b;    color: #fff;}
.zwlxrm2 a.now{background: #1497bd;    color: #fff;}
.zwlxrm3 a.now{background: #45a6e0;    color: #fff;}
.shgybg{ background:#f4fbff; padding:60px 0}
.shgy{ background:url(../image/111111_themes_boenew_img_sxsicon2.png) no-repeat center bottom #fff; border-radius:10px; padding:55px 20px; box-sizing:border-box;  position:relative}
.shgyt{ overflow:hidden}
.shgytl{ float:left; width:720px; color:#333; font-size:14px; line-height:28px;}
.shgytl h2{ line-height:28px; color:#333; font-size:24px;}
.shgytl h2 span{ color:#2888c2; font-size:16px; margin-left:40px;}
.shgytr{ float:right; width:300px; height:300px; position:relative; text-align:left}
.shgytr img{ width:280px; height:280px; position:relative; z-index:2}
.shgytr span{ display:inline-block; border:1px solid #eee; box-sizing:border-box; width:280px; height:280px; position:absolute; right:0; bottom:0; z-index:1}
.shgyb{ position:absolute; width:320px; top:370px; right:20px;z-index:200}
.shgybm{ width:280px; height:55px; overflow:hidden}
.sxsicon6a{ display:inline-block; width:30px; height:55px; position:absolute; left:0; top:0;
 background:url(../image/111111_themes_boenew_img_sxsicon3.png) no-repeat left center; cursor:pointer}
.sxsicon6b{ display:inline-block; width:30px; height:55px; position:absolute; right:0; top:0; background:url(../image/111111_themes_boenew_img_sxsicon4.png) no-repeat right center; cursor:pointer}
.shgybm .swiper-slide-active img{ box-sizing:border-box; border:2px solid #2888c2}
.shgybm img{ max-width:100%; height:auto}
/****/
.tishi{border: 1px solid #80c1f2; z-index: 10; width: 500px; position:absolute;top: 39px; left: 50%; margin-left: -300px;background: #fff;border-radius: 10px; box-sizing: border-box; display: none;}
.tishim{margin:10px 15px;max-height: 255px; overflow: auto;}
.tishim li{ border-bottom:1px dashed #d6edff; padding:10px 0 8px; box-sizing:border-box; text-align: left;}
.tishim li span{ display:inline-block; line-height:30px; width:180px; color:#333; font-size:16px;    vertical-align: top;}
.tishim li span.w300{width:300px}
.tishim li p{ margin-bottom:3px}
.icon20{background: url(../image/111111_themes_boenew_img_icon20.png) no-repeat center center;display: none;width: 16px; height: 11px; position: absolute;left: 50%;margin-left: -8px; top:35px}
.xcrb td.xc{cursor: pointer;}
.gzwxl{background: #fff; position: absolute;right: 66px; bottom: 0;padding: 10px 5px; display: none;}
    .gzwxl img{vertical-align: top;width: 140px}
    .gzwxl p{text-align: center;color: #333;font-size: 12px; line-height: 28px;}
    .gzwx2:hover .gzwxl{display: block;}
    .icon54{display: inline-block;width: 56px!important;height: 56px!important; margin: 0!important; padding: 0!important;background: url(../image/111111_themes_boenew_img_icon54.png) no-repeat center center!important;}
    .sina{display: none;}
.sina:hover .gzwxl{display: block;}
.safa{font-size: 20px;[;font-size: 30px;]}


.tcqabtab{background: #fff;padding: 10px;    margin: 10px 0 0;}
.tcqabtab table{border: 1px solid #333;}
.tcqabtab table td,.tcqabtab table th{border: 1px solid #333; color: #000;padding: 10px; line-height: 25px;font-size: 14px;}
/**20200415**/
.hwnavbg{background: #f1f2f2;}
	.hwnav{ text-align:center; width:1200px; margin:0 auto}
	.hwnav li{display: inline-block;position: relative;padding: 20px 0;margin:0 48px; cursor: pointer;    z-index: 10;}
	a.hwnavlink,.hwnav li span{display:inline-block; line-height:40px; color:#333; font-size:18px;}
	a.hwnavlink:hover,.hwnav li.now a.hwnavlink{color:#2888c2}

	.hwnavb{width: 148px; background: #fff;position: absolute;left: 50%; margin-left: -74px; top: 80px; display: none;}
	.hwnavb a{display: block;text-align: center; line-height: 40px;color: #333; font-size: 16px;}
	.hwnavb a:hover{color: #fff;background: #00a9e5;}
	.hwnav li:hover .hwnavb{display: block;}
	.bmrkbox{background: #f1f9ff; padding: 0 0 45px;}
	.bmrk{background: #fff; width: 1200px; margin: 0 auto; border-radius: 15px;padding: 30px 140px; box-sizing: border-box;}
	.bmrk li{display: inline-block;}
	.odicon1a{background: url(../image/111111_themes_boenew_haiwai_odic.png) no-repeat left center; padding-left: 30px; }
	.odicon1a b,.odicon1a a{color: #6357b1; font-size: 18px; display: inline-block; line-height: 40px; vertical-align: middle;}
	.odicon1b{cursor: pointer;}
	.odicon1b{background: url(../image/111111_themes_boenew_haiwai_odic1.png) no-repeat left center; padding-left: 30px; float: right;  }
	.odicon1b b{color: #6357b1; font-size: 18px; display: inline-block; line-height: 40px;background: url(../image/111111_themes_boenew_haiwai_odic2.png) no-repeat right center; padding-right: 25px; cursor: pointer; }
	.bmtc{width: 900px;margin: 0 auto;padding: 30px 0 0; display: none;}
	.bmtc h2{text-align: center; color: #6357b1;font-size: 26px;}
	.bmtcm{}
	.bmtcm li{padding: 25px 30px 0 0; display: inline-block; float: left;width: 33.33%; box-sizing: border-box;}
	.bmtcm li span{display: inline-block;line-height: 35px; color: #4c4c4c; font-size: 16px;  width: 45px;}
	.bmtcm_input{border: none; width: 220px; border-bottom: 1px solid #bfbfbf; box-sizing: border-box;height: 35px;font-family: "\5FAE\8F6F\96C5\9ED1";font-size: 16px;}
	.bmtcm li:nth-child(3),.bmtcm li:nth-child(6),.bmtcm li:nth-child(9){padding-right: 0;}
	.bmtcb{padding: 25px 0 0;}
	.bmtcb p{line-height: 35px; font-size: 16px; color: #4c4c4c;}
	.bmtcbtext{border: 1px solid #bfbfbf;padding: 10px 15px; line-height: 28px; color: #666; font-size: 14px;font-family: "\5FAE\8F6F\96C5\9ED1"; box-sizing: border-box;height: 180px;width: 100%;}
	.bmtcbtn{width: 155px;font-family:"\5FAE\8F6F\96C5\9ED1"; height: 42px; border: none; background: #6357b1; border-radius: 22px; color: #fff; font-size: 18px; cursor: pointer;}
	.hwsxjl{ background:#f1f9ff; padding:25px 0; text-align:center; border-radius:75px}
	.hwsxjl img{ vertical-align:top; display:inline-block; margin:0 35px;}
	.hwsxjlb{width: 1200px; margin: 60px auto 0; background: url(../image/111111_themes_boenew_haiwai_dsic.png) no-repeat center center;}
	.hwsxjlbm{width: 436px;height: 222px; background: #fff;border-radius: 10px;}
	.hwsxjlbmm{display: table-cell;width: 436px; height: 222px; text-align: center; vertical-align: middle; color: #333; font-size: 16px; line-height: 30px;}
	
	.hwzw{background: #fff; border-radius: 10px;padding: 30px; line-height: 40px; color: #5858ca; font-size: 18px;}
	.hwzw a{color: #5858ca;}
	.hwhdsp{background: #f1f9ff;padding: 55px 0 110px;}
	.hwhdsp h2{text-align: center;color: #333; font-size: 30px; line-height: 45px;padding-bottom: 50px;}
	.hwhdspm{width: 1045px; margin: 0 auto;}
	.hwhdspm li{display: inline-block;width: 480px;}
	.hwhdspm li h3{text-align: center; line-height: 40px;padding-bottom: 10px; color: #333; font-size: 16px;}
	.hwhdspmb{width: 480px; height: 300px; position: relative; cursor: pointer;}
	.hwhdspmb img{vertical-align: top;width: 480px; height: 300px; position: relative;z-index: 1;border-radius: 10px;}
	.hwhdspmb span{display: inline-block;width: 74px; height: 74px; background: url(../image/111111_themes_boenew_haiwai_dsic1.png) no-repeat center center;position: absolute;left: 50%;top: 50%;margin: -37px 0 0 -37px; z-index: 2;}
	.tcsp{ display: none; background: #fff; padding: 20px;width: 760px; height: 480px; box-sizing: border-box; position: fixed;left: 50%;top: 50%; margin: -240px 0 0 -380px; z-index: 1001; overflow: hidden;border-radius: 10px;}
	
/**hwen**/
.sxjlb.sxjlben{    padding: 35px 55px 50px 20px;}
.sxjlb.sxjlben li{    height: 50px;margin-bottom: 15px;}
.sxjlb.sxjlben li:nth-child(1), .sxjlb.sxjlben li:nth-child(3){background: url(../image/111111_themes_boenew_img_icon51.png) no-repeat 35px 10px;}
.sxjlb.sxjlben li:nth-child(2n) {
    background: url(../image/111111_themes_boenew_img_icon51.png) no-repeat 30px 10px!important;
}
.icon999{    padding-left: 45px;}

